services:
  app:
    build: .
    container_name: botrobo_app
    restart: always
    volumes:
      - .:/app
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
